<%= form_tag drugs_path, :method => :get do %>

<% end %>
<div class="results-wrap">
  
    <% @drugs.each do |drug| %>
      <div class="drug-wrap">
        <div><h3><%= link_to "#{drug.name}", drug  %></34>
          <p class="drug-description"><%= truncate(drug.description, length: 300) %></p>
        </div>

      </div>
    <% end %>
  
</div>