<div class="results-wrap results-wrap-show">
<div><% allowed? %></div>      
      <div class="drug-wrap drug-wrap-show">
        <div>
          <%= code_switch %>
          <p class="drug-description"><%= @drug.description %></p>
        </div>
        <p>Substancje aktywne:</p>

<%= active_ingredients %>

      </div>
</div>

<% @allowed_array.each do |allowed| %>
	<% allowed %>
<% end %>
