/* Login Styles */

body
	


.login-wrap
	padding: 0!important
	max-width: none!important
	border-radius: 4px
	transition: all 0.5s ease 0s
	width: 100%
	height: 100%
	background: transparent!important
	box-shadow: 0 0 0 0!important

/* Document Font Sizes */

.tab-group li a
	font-size: 4em!important
	padding: 8% 6%!important

input, textarea
	font-size: 2em!important
	width: 70%!important
	margin: 0 auto
	border: 2px solid #A0B3B0!important


/* Login Form Styles */

label
	font-size: 2em!important
	transform: translateY(66%)!important
	margin-left: 17%

label.active
	transform: translateY(190%)!important

#remember_label
	float: none!important
	text-align: center

#remember_checkbox
	width: 10%!important
	margin: 0 auto!important
	float: none!important	
	width: 40px
	height: 40px

#wrap-password
	margin-bottom: 150px

@-moz-document url-prefix()
	#signup_email_field, #signup_password_field, #signup_confirmation_field
		transform: translateY(-30%)!important

	#remember_checkbox
		-moz-transform: scale(2)

#login-shared
	font-size: 2em
	width: 331px
	margin: 0 auto
	margin-top: 50px

/*Forgot Password Styles */

.login-wrap, .sign-up-wrap, .forgot-password
	color: rgba(255, 255, 255, 0.5)
	background: none
	width: 100%
	margin: 0 auto
	margin-top: 50px
	box-shadow: none
	display: table
	position: static
	padding: 25px
	font-family: "Helvetica Neue", Helvetica, Arial
	text-align: center

.forgot-password input
	background: none repeat scroll 0% 0% transparent

.forgot-password .actions input
	border: 0px none
	outline: medium none
	border-radius: 0px
	padding: 15px 0px
	background: none repeat scroll 0% 0% #1AB188
	color: #FFF
	transition: all 0.5s ease 0s

/* Main Page Styles */

#user-nav
	font-size: 2em

.topbar-wrap
	height: 260px!important

#user-nav
	margin: 0 auto
	text-align: center
	width: 100%
	margin-top: 20px

.nav ul
	margin: 0px auto
	width: 273px
	font-size: 2em
	text-align: center
	float: none
	margin-top: 210px
	padding-left: 0

.options-wrap
	width: 80% !important
	position: relative

.nav ul a li
	width: 50%

#user-nav strong
	display: block

#user-nav div
	padding-top: 30px

.toggle-menu-wrap
	float: right
	font-size: 4em
	color: #fff
	margin: 0,106em
	margin-right: 1%