<div class="results-wrap results-wrap-show">
      <div class="drug-wrap drug-wrap-show">
        <div>
        	<%= ingredient_partial %>
          <% unless @ingredient.description.nil? %>
          <p><%= @ingredient.description %></p>
          <% end %>
        </div>
        <p><b>Substancja występuje w następujących lekach:</b></p>
        <div class="ingredients-cloud">
			<% Relationship.where(ingredient_id: @ingredient.id).each do |relationship| %>
			 <span class="active_ingredient code-blue"><%= link_to "#{Drug.find_by(id: relationship.drug_id ).name}", Drug.find_by(id: relationship.drug_id )  %> </span>
			<% end %>
		</div> 
       </div>



	</div>
</div>
