<%= form_tag drugs_path, :method => :get do %>

<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>

<% end %>
<br><br><br>
<div id="bloodhound">
  <input class="typeahead" type="text" placeholder="Drugs">
</div>
