/* Search Bar for Drugs */
div.topbar-wrap
    width: 100%
    height: 80px
    background: #333 no-repeat scroll
    margin-bottom: 15px

div.search-wrap-drugs
    position: relative
    width: 600px
    padding: 25px 0
    margin: 0 auto
    
div.search-wrap-drugs .typeahead
    min-height: 40px
    min-width: 600px

button.search-button-drugs
    border: none
    padding: 11px
    right: 10px
    top: 25px
    background: none
    position: absolute

button.search-button-drugs:hover
    background: none


/* Results List */
.drug-wrap
    border: 1px solid #e1e1e1
    margin-bottom: 5px

.drug-wrap div a
    color: #2992A7
    
div.results-wrap
    margin: 0 auto
    width: 550px

div.results-wrap div
    font-size: 1.2em
    background-color: white
    padding: 5px

div.drug-wrap div p 
    margin: 35px 15px
    color: #000

div.drug-wrap div p.drug-description
    margin: 5px!important

/* Show Drug Styles */

.results-wrap-show div
    padding: 0!important

.drug-wrap-show div h3
    font-size: 2em
    width: 100%
    padding-left: 15px
    margin-top: 15px
    padding-bottom: 15px
    
.drug-wrap-show div p
    font-size: 0.8em
    padding: 15px
    background: #f7f7f9
    border: 1px solid #e1e1e8

.drug-wrap-show p
    padding: 5px

.ingredients-cloud
    margin: 10px

.ingredients-cloud span
    padding: 5px
    margin: 10px 3px
    border-radius: 5px
    line-height: 2em
    
.ingredients-cloud span a
    color: #fff


.ingredients-cloud span a:visited
    color: #fff

.red-message, .yellow-message, .green-message
    margin: 15px
    

/* Codes */
.code-red
    background-color: #d9534f 

.code-yellow
    background-color: #f0ad4e 

.code-green
    background-color: #5cb85c 

.code-blue
    background-color: #337ab7

.code-red-header
    border-bottom: solid 3px #d9534f 

.code-yellow-header
    border-bottom: solid 3px #f0ad4e 

.code-green-header
    border-bottom: solid 3px #5cb85c 

/* User Nav Styles */
#user-nav
    position: absolute!important
    color: #fff
    margin: 25px

#user-nav div a
    color: #fff

span#edit-profile
    padding-right: 15px
    border-right: 1px solid #2b92a7

span#logout
    padding-left: 15px
