/* Home Page */
div.search-wrap-home
    position: relative
    margin: 0 auto
    width: 600px
    padding: 100px 0 0 0

div.search-wrap-home .typeahead
    min-height: 40px
    min-width: 600px

div.search-wrap-home h1
    text-align: center
    font-size: 5em
    padding: 0 0 25px 0
    font-family: helvetica
    color: #4c4c4c
    text-shadow: 0 0 1px #4c4c4c

button.search-button-home
    border: none
    padding: 11px
    right: 10px
    top: 227px
    background: transparent scroll
    position: absolute

button.search-button-home:hover
    background: transparent scroll


/* Suggestion Engine */
.tt-input, 
.tt-hint 
    width: 396px
    height: 35px
    padding: 8px 12px
    font-size: 14px
    line-height: 30px
    border: 2px solid #ccc
    border-radius: 8px
    outline: none

.tt-input  
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)


.tt-hint 
    color: #999

.tt-dropdown-menu 
    width: 600px
    margin-top: 12px
    padding: 8px 0
    background-color: #fff
    border: 1px solid #ccc
    border: 1px solid rgba(0, 0, 0, 0.2)
    border-radius: 8px
    box-shadow: 0 5px 10px rgba(0,0,0,.2)

.tt-suggestion 
    padding: 3px 20px
    font-size: 56px
    line-height: 24px


.tt-suggestion.tt-cursor  
    color: #fff
    background-color: #246abc

.tt-suggestion p 
    margin: 0
    font-size: 16px
    color: #000

.tt-suggestion:hover p
    color: #fff

.empty-message
    padding: 25px